body{ /* cor do body*/
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: darkgrey;
   
}
section{
    background-color: rgb(13, 46, 3);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

div{
    margin-right: 40px;
    margin-left: 40px;
}
img{
    height: 200px;
}
.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
}
.h2{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}