body{ /* cor do body*/
    color: white;
    background-color: black;
}
section{
    background-color: rgb(161, 6, 6);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    
}